<template name="homeContent">
    <div class="container">
        <div class="main">
            {{#if currentUser}}
            {{> AddSpamStr}}
            {{> addTwitterAccountTraining}}
            {{> getTweets}}


            <h1>Tweets List for training</h1>
            <ul>
                {{#each tweets}} {{> tweet}} {{/each}}
            </ul>
            {{/if}}
        </div>

    </div>
</template>

<template name="addTwitterAccountTraining">
    <div class="center">
        <h2>Add Twitter Account as training</h2>
        <div>
            <h3>Spam Twitter Account</h3>
            <form class="AddTwitterAccountSpam">
                <input type="text" name="text" placeholder="Twitter account as spam" />
            </form>
            {{SpamTwitterAccount}}
        </div>
        <div>
            <h3>Ham Twitter Account</h3>
            <form class="AddTwitterAccountHam">
                <input type="text" name="text" placeholder="Twitter account as ham" />
            </form>
            {{HamTwitterAccount}}
        </div>
    </div>
</template>

<template name="getTweets">
    <button class="GetTweets btn btn-primary">Get Tweets</button>
    <button class="Purge btn btn-warning">Purge</button>
    <button class="ClassifyAll btn">Classify All</button>
    <button class="saveFile btn">Save file</button>
</template>

<template name="AddSpamStr">
    <div class="Add-Spam-text center">

        <h3>Add Spam</h3>
        <form class="new-spam right">
            <textarea rows="4" cols="50" type="text" name="text" placeholder="Type to add spam text"></textarea>
            <input type="submit" />
        </form>
    </div>
</template>
